<section class="page-title bg-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Pricing</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sed.</p>
				<ol class="breadcrumb header-bradcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Pricing</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="page-wrapper">
	@@include('blocks/about.htm')
	<!-- Start Pricing section
		=========================================== -->
	<div class="pricing-table section bg-gray">
		<div class="container">

			<div class="row">

				<!-- section title -->
				<div class="title text-center" >
					<h2>Choose Our Amazing Pricing</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				<!-- /section title -->
				
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12" >
					<div class="pricing-item">
						
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Basic</h3>
							<p>The best to start</p>
						</div>
						<div class="value">
							<span>$49</span>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul class="pricing-bullet">
							<li>Single Item</li>
							<li>1 yr access to support & updates</li>
							<li>1yr Theme Updates</li>
							<li>15% Off Future Purchases</li>
							<li>1yr Dedicated Support Access</li>
							<li>24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main mt-20" href="#!">Join Us</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->

				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12" >
					<div class="pricing-item highlited">
						
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Standard</h3>
							<p>The best to start</p>
						</div>
						<div class="value">
							<span>$79</span>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul class="pricing-bullet">
							<li>Single Item</li>
							<li>1 yr access to support & updates</li>
							<li>1yr Theme Updates</li>
							<li>15% Off Future Purchases</li>
							<li>1yr Dedicated Support Access</li>
							<li>24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main mt-20" href="#">Join Us</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12" >
					<div class="pricing-item ">
						
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Premium</h3>
							<p>The best to start</p>
						</div>
						<div class="value">
							<span>$99</span>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul class="pricing-bullet">
							<li>Single Item</li>
							<li>1 yr access to support & updates</li>
							<li>1yr Theme Updates</li>
							<li>15% Off Future Purchases</li>
							<li>1yr Dedicated Support Access</li>
							<li>24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main mt-20" href="#">Join Us</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->
				
				
				
			</div>       <!-- End row -->
		</div>   	<!-- End container -->
	</div>   <!-- End section -->
	
	@@include('blocks/call-to-action.htm')
	
</section>

		