<section class="featured-items section @@class-name">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<p>CHECK OUR BEST</p>
					<h2>Recent Items</h2>
				</div>
			</div>
		</div>
		<div class="row mt-20 product-items-wrapper">
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-1.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-2.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-3.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-4.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-5.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<a href="#!">
							<img class="img-responsive" src="images/products/product-item-6.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<div class="product-meta">
							<span class="price"> <i class="tf-pricetags"></i> $45</span>
							<a class="author" href="#!"><i class="tf-profile-male"></i>Jonathon Ive</a>
						</div>
						<h4><a href="#!">Blue- Business Template</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, animi.</p>
						<div class="product-buttons">
							<a href="#!" class="btn btn-main-sm">Details</a>
							<a href="#!" class="btn btn-live-preview">Live Preivew</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>