<aside class="sidebar-wrapper">
	<header class="sidebar-header">
		<div class="logo">
			<a href="#!"><img src="images/logo.png" alt=""></a>
		</div>
		<div class="menu-button">
			<span></span>
		</div>
		<div class="contact-button">
			<a class="call-button" href="#!"><i class="tf-ion-ios-telephone-outline"></i></a>
		</div>
	</header>

	<nav class="sidebar-navigation">
		<div class="nav-content">
    	    <div class="logo-text">
	        </div>

	        <ul class="menu">
	        	<li>
		            <a href="#!" class="site-nav__link ">Home</a>
	        	</li>
	        	<li>
		            <a href="#!" class="site-nav__link ">Contact</a>
	        	</li>
	        	<li>
		            <a href="#!" class="site-nav__link ">Projects</a>
	        	</li>
	        	<li>
		            <a href="#!" class="site-nav__link ">Testimonials</a>
	        	</li>
	        </ul>
	    </div>
	</nav>
</aside>